<?xml version="1.0"?>
<launch>
    <include file= "$(find rslidar_sdk)/launch/start.launch"/>
    <!--Fusion-->
    <!--
    <include file= "$(find freenect_launch)/launch/freenect.launch"/>
    <include file= "$(find yolov9_ros)/ros/launch/detect.launch"/>
    -->
    <!--<node pkg="perception" type="VoxelDownsample" name="VoxelDownsample" output="screen">
    </node>
    <node pkg="perception" type="GroundRemoval" name="GroundRemoval" output="screen">
    </node>
    <node pkg="perception" type="DonSegmenation" name="DonSegmenation" output="screen">
    </node>-->
    <node pkg="ground_removal" type="morerecentluphy" name="morerecentluphy">
    </node>
    <node pkg="clustering" type="custom" name="custom" output="screen">
    </node>
    <!--
    <node pkg="reconstruction" type="reconstruct" name="reconstruct" output="screen">
    </node>
    <node pkg="perception" type="SensorFusion" name="SensorFusion" output="screen">
    </node>
    -->
</launch>
