<?xml version="1.0"?>
<launch>
    <!-- IMU -->
    <!-- <include file= "$(find sparton_ahrs8_driver)/launch/ahrs-8.launch"/> -->
    <!-- HALL EFFECT ARDUINO -->
    <!-- <node pkg="$(find rosserial_arduino)" type="serial_node" name="serial_node" args="-d /dev/ttyUSB1" output="screen"> -->
    <!-- </node> -->
    
    <!-- Markers -->
    <node pkg="perception" type="marker.py" name="ConeMarker">
    </node>
    <node pkg="perception" type="carmarker.py" name="CarMarker">
    </node>
    <node pkg="perception" type="path.py" name="PathMarker">
    </node>

    <!-- Slam and Path Planning -->
    <node pkg="perception" type="slam_blueyellow.py" name="Slam" output="screen">
    </node> 
    <node pkg="perception" type="path_planning.py" name="Path_Planning" >
    </node> 

    <!-- Controls -->
    <!-- <node pkg="perception" type="control.py" name="Control" output="screen">
    </node>  -->

    <!-- RVIZ -->
    <node pkg="rviz" name="slam_rviz" type="rviz" args="-d $(find perception)/rviz/slam.rviz" />
</launch>
